p {
    color: rgb(40, 226, 201);
    
}

ul {
    color: rgb(40, 226, 111);
    width: 200px;
    border: 2px solid black;

}

html {

    font-size: 25px; 
    font-family: "Nerko One", sans-serif;
    background-color: #d8ecec;

}

h1 {

    margin: 0;
    padding: 20px 0;
    color: #5ba2e4;
    text-shadow: 3px 3px 1px black;
    font-size: 60px;
    text-align: center;

}

h2 {

    margin: 0;
    padding: 20px 0;
    color: #5ba2e4;
    text-shadow: 3px 3px 1px black;
    font-size: 45px;
    text-align: center;

}
  
p, li {
    font-size: 30px;
    line-height: 2;
    letter-spacing: 1px;
}

body {
    width: 1000px;
    margin: 0 auto;
    background-color: #b5d6cf;
    padding: 0 60px 60px 60px;
    border: 5px solid black;
  }