
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;

}

header {
    background-color: #4682B4;
    color: white;
    padding: 10px;
}

h1 {
    margin: 0;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    margin: 20px;
}

button {
    background-color: #4682B4; /* cor do fundo */
    border: none; /* remove a borda */
    color: white; /* cor do texto */
    padding: 15px 30px; /* tamanho do padding */
    text-align: center; /* centraliza o texto */
    text-decoration: none; /* remove o sublinhado */
    display: inline-block; /* torna o botão um elemento de bloco */
    font-size: 16px; /* tamanho da fonte */
    border-radius: 5px; /* arredonda as bordas */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* adiciona uma sombra */
    transition: all 0.3s ease; /* adiciona transição suave */
}
  
button:hover {
    background-color: #4682B4; /* cor do fundo ao passar o mouse */
    color: white; /* cor do texto ao passar o mouse */
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5); /* adiciona uma sombra mais intensa ao passar o mouse */
    transform: translateY(-2px); /* move o botão para cima ao passar o mouse */
}

img {
    max-width: 200px;
    max-height: 200px;
    border: 5px solid #4682B4;
    border-radius: 25%;
}
  
.imagem-destacada {
    position: relative;
    display: inline-block;
}
  
.imagem-destacada:hover img {
    transform: scale(1.2);
    z-index: 1;
}
  
.imagem-destacada:hover::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 3px solid #000;
    border-radius: 25%;
    z-index: -1;
    animation: pulse-border 1s linear infinite;
}
  
@keyframes pulse-border {
    0% {
      transform: scale(1);
      opacity: 1;
    }

    50% {
      transform: scale(1.2);
      opacity: 0.5;
    }

    100% {
      transform: scale(1);
      opacity: 1;
    }
}
  